# =========================
# Environment / Secrets
# =========================

Assets/Config/env.php


# =========================
# Sensitive / Private Files
# =========================

*.env
.env
.env.*
!.env.example


# =========================
# IDE / Editor
# =========================

.vscode/
.idea/


# =========================
# OS Files
# =========================

.DS_Store
Thumbs.db


# =========================
# Logs
# =========================

*.log


# =========================
# Temporary Files
# =========================

*.tmp
*.temp